body{
  background-color: #FFF6F6;
}

.myh1 {
  margin-top: 2%;
  font-family: 'Anton', sans-serif;
  color: #937a7a;
}

.leftimageabout {
margin-left: 3%;
margin-top: 2%;
align-content: left;
width: 100%;
height: 70%;
}

.pictureliss {
 width: 100%;
 height: 100%;
 margin-right: 3%;
}

.textabout{
  margin-left: 5%;
  margin-top: 2%;
  align-items: left;
  justify-items: justify;
}

.m-l-20 {
  display: inline-block;
} 

.hab {
  font-family: 'Acme', sans-serif;
}

 /* Efecto Rectangular Inicio */
 .overlayone{ /* Propiedades de imagen */
        
  font-size: 16px;
  display: inline-block;
  position: relative;
  }
  .overlayinn { /* Propiedades de la transparencia */
  background-color: rgba(0,0,0, 0.6);
  width: 100%; /* ancho del contenedor de texto */
  height: 100%; /* alto del contenedor de texto */
  top: 0px; /*distancia hacia abajo*/
  left: 0px; /*distancia hacia la derecha*/
  opacity: 0; /* esta condicion mantiene el texto oculto */
  position: absolute;
  padding: 20px; /* espacio entre texto y bordes */
  transition: opacity .5s;
  text-align: center; /* texto centrado */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; /* tama�o de letra */
  color:#f5f4ed; /* color de texto */
  }
  .overlayinn:hover { /* Efecto al pasar el mouse */
  opacity: 2.5;
  transition: opacity 1s;
  }
  /* Efecto Rectangular final */


  /*Estilos Footer */
  
